<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Phoenix Framework">
      <%= assigns[:page_title] || "Xfood" %>
    </.live_title>
    <link
      nonce={assigns[:csp_nonce]}
      href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.css"
      rel="stylesheet"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.phoenix.min.js">
    </script>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="bg-white antialiased  ">
    <.navbar>
      <:items>
        <.nav_items>
          <:links></:links>
        </.nav_items>
      </:items>
      <:login_buttons>
        <.login_buttons current_user={@current_user} />
      </:login_buttons>
    </.navbar>

    <%= @inner_content %>
  </body>
</html>
