<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Phoenix Framework">
      <%= assigns[:page_title] || "Xfood" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="bg-white antialiased">
    <%= if @current_user do %>
      <div class="text-[0.8125rem] leading-6 text-zinc-900">
        <%= @current_user.email %>
      </div>
      <.menu>
        <.menu_item link={~p"/users/settings"} text="Settings" alt="" active={false} />
        <.menu_item link={~p"/users/log_out"} text="Log out" alt="" active={false} />
      </.menu>
    <% else %>
      <.menu>
        <.menu_item link={~p"/users/register"} text="Register" alt="" active={false} />
        <.menu_item link={~p"/users/log_in"} text="Log in" alt="" active={false} />
      </.menu>
    <% end %>

    <%= @inner_content %>
  </body>
</html>
